*{
    margin: 0;
    padding: 0;
    font-family: DM sans;
}

header{
    background-color: rgb(255, 255, 255);
    display:flex;
    padding-top: 1.5%;

}

header img {
    max-width: 80px;
    max-height: 80px;
}

header h1 a {
    margin-left: 5%;
     font-family:poppins;
      text-decoration:none;
       color:#ffffff;
        /*background-color: #4317f2;*/
}



main{
    border-bottom:2px solid #4317f2;
    
}

h1,h2{
    font-family: poppins;
    font-weight: bolder;
    color: #4317f2;
}


input, input:hover{
    border: 2px solid #4317f2;
    border-left: none;
    border-right: none;
    border-top: none;
}

nav form input{
    position: relative;
    width: 100%;
}



a {
    color: #4317f2;
    text-decoration: none!important;
}

a:hover {
    color:#4317f2; 
    text-decoration:none!important; 
    cursor:pointer;  
}

aside{

    border:2px solid #4317f2;
     border-top:none;
      border-right:none;

}

aside h1{
    margin-top: 2%;

}

.Acesso_Esquemas{
    background-color:#4317f2;
    color:White;
    display: flex;
    margin-bottom: 6%;
    padding-left: 2%;
}

.imagens{
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
}


footer{
    background-image: url(./Img_Strg/BGFOOTER.png);
    image-orientation: flip;
    background-size: contain;
}

footer img{
    max-height: auto;
    max-width: auto;
    background-color: #ffffff;
}