*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    display:flex;
    padding-top: 1.5%;
}

h1,h2{
    font-family: IBM Plex Sans;
    font-weight: bolder;
    color: #4317f2;
}


input, input:hover{
    border: 2px solid #4317f2;
    border-left: none;
    border-right: none;
    border-top: none;
}

nav form input{
    position: relative;
    width: 100%;
}



a {
    color: #000000;
    text-decoration: none!important;
}

a:hover {
    color:#4317f2; 
    text-decoration:none!important; 
    cursor:pointer;  
}

aside h1{
    margin-top: 2%;

}

.Acesso_Esquemas{
    background-color:#4317f2;
    color:White;
    display: flex;
    margin-bottom: 6%;
    padding-left: 2%;
}

.imagens{
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
}