*{
    margin: 0;
    padding: 0;
    font-family:Sono;
}

header{
    background-color: rgb(255, 255, 255);
    display:flex;
    padding-top: 1.5%;

}

header img {
    max-width: 80px;
    max-height: 80px;
}

header h1 a {
    margin-left: 5%;
     font-family:Outfit;
      text-decoration:none;
       color:#ffffff;
        /*background-color: #4317f2;*/
}



main{
    border-bottom:2px solid #4317f2;
    border-radius: 10px;
    
}

h1,h2{
    font-family: Outfit;
    font-weight: bolder;
    color: #4317f2;
}


input, input:hover{
    border: 2px solid #4317f2;
    border-left: none;
    border-right: none;
    border-top: none;
}

nav form input{
    position: relative;
    width: 100%;
    border-radius: 10px;
}



a {
    color: #4317f2;
    text-decoration: none!important;
}

a:hover {
    color:#4317f2; 
    text-decoration:none!important; 
    cursor:pointer;  
}

aside{

    border:2px solid #4317f2;
     border-top:none;
      border-right:none;
      border-radius: 10px;

}

aside h1{
    margin-top: 2%;

}

.imagens_métodos{
     width:250px;
     margin-right:2.2%;
      box-shadow: 5px 10px #4317f2;
      border-radius: 10px;
}

.Acesso_Esquemas{
    background-color:#4317f2;
    color:White;
    display: flex;
    margin-bottom: 6%;
    padding-left: 2%;
    text-decoration: none;
    border-radius: 10px;
}


.imagens{
    max-width: 180px;
    max-height: 180px;
    float: left;
    margin-left: 2.2%;
    margin-top: 3%;
    border-radius: 5px;
}

.imagem_aberta{
    max-width: 800px;
    max-height: 800px;
    float: left;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    border:5px solid #4317f2;
}


footer{
    background-image: url(./Img_Strg/BGFOOTER2.png);
    image-orientation: flip;
    background-size: contain;
}

footer img{
    max-height: auto;
    max-width: auto;
    background-color: #ffffff;
}